.divg{
    width: 200px;
    margin: 90px;
    height: 200px;
    position: absolute;
    background-color: red;
}

.divs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    position: relative;
 
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    height: 30px;
    width: 30px;
    background-color: greenyellow;
}

#div1{
    
    top: 75px;
    left: 65px;
}

#div2{
    
    top: 35px;
    left: 265px;
    
}

#div3{
    
    top: 195px;
    left: 65px;
}

#div4{
    
    top: 155px;
    left: 265px;
}