html{
    background-color: bisque;
}

 
 


div{
    border: 2px solid black;
    padding: 10px;
    width: 200px;
    margin: 40px auto;
    
    
    background-color: rgba(189, 181, 181, 0.461);
}
#div1{
    text-align: left;
}
#div2{
    text-align: center;
}
#div3{
    text-align: right;
}