.divGeneral {
    display: flex;
    width: 800px;
    align-items: center;
    justify-content: center;
}

.parrafoGuernica {
    float: left;
    margin: 10px;
}

#imgGuernica {
    width: 60%;
    float: right;
}