div{
    padding: 40px;
    margin: 80px;
    border-top: 5px dotted green;
    border-left: 10px double black;
    border-bottom: 10px solid red;
    border-right: 10px dashed blue;
    width: 300px;
    height: 300px;
}